.grey{
    background-color: #343a40;
    
}
/* background-color: rgb(63, 68, 97); */
.setYellow{
    background-color:rgb(201, 204, 34);
    padding-top: 10px;
}
.spend{
    padding-bottom: 15px;
}
.sh{
    padding-top: 10px;
}
.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f2f2f2;
}

.a1{
margin-left: auto;
margin-right: auto;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.a2{
    margin-left: auto;
margin-right: auto;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
visibility: collapse;

}

@media  only screen and  (max-width:412px){
    .a1{
        visibility: hidden;

    }
    .a2{
        visibility: visible;
    }
}